---
import Titulo from "../ui/Titulo.astro";
import CardLibro from "../ui/CardLibro.astro";
import BotonFlecha from "../ui/BotonFlecha.astro";
import type { Libro } from "../../types/libro";
const { libros, tituloSeccion } = Astro.props;
---

<section class="relative slider-wrapper h-120 overflow-hidden w-full">
  <Titulo titulo={tituloSeccion} />
  <ul
    style="transform: translateX(0%) "
    class="slider-libros transition-transform flex w-full  h-auto absolute duration-300 gap-4 md:gap-6 lg:gap-8 overflow-x-scroll"
  >
    {
      libros.map((libro: Libro) => (
        <li class="">
          <CardLibro
            image={libro.imagen}
            titulo={libro.titulo}
            autor={libro.autor}
            precio={libro.precio}
            id={libro.id}
          />
        </li>
      ))
    }
  </ul>
  <BotonFlecha style="left-2 btn-anterior" direccion="rotate-90"  />
  <BotonFlecha style="right-2 btn-siguiente" direccion="-rotate-90"  />
</section>

<script is:inline>
  document.querySelectorAll(".slider-wrapper").forEach(wrapper => {
    const track = wrapper.querySelector(".slider-libros");
    const btnAnterior = wrapper.querySelector(".btn-anterior");
    const btnSiguiente = wrapper.querySelector(".btn-siguiente");

    const scrollAmount = 200; // Ajustable según el ancho de tus tarjetas

    btnSiguiente.addEventListener("click", () => {
      track.scrollBy({ left: scrollAmount, behavior: "smooth" });
    });

    btnAnterior.addEventListener("click", () => {
      track.scrollBy({ left: -scrollAmount, behavior: "smooth" });
    });
  });
</script>



