---
import Titulo from "../ui/Titulo.astro";
import CardLibro from "../ui/CardLibro.astro";
import type {Libro} from "../../types/libro"
const { libros, tituloSeccion } = Astro.props;
---

<section class=" p-6  relative h-120  overflow-hidden w-full ">
  <Titulo titulo={tituloSeccion} />
  <ul
    class="  flex w-full max-w-95 sm:max-w-150 md:max-w-180 lg:max-w-243 xl:max-w-260 h-auto  absolute duration-300  gap-4 md:gap-6 lg:gap-8  overflow-x-scroll "
  >
    {
      libros.map((libro:Libro) => (
        <li class="">
          <CardLibro
            image={libro.imagen}
            titulo={libro.titulo}
            autor={libro.autor}
            precio={libro.precio}
          />
        </li>
      ))
    }
  </ul>
</section>
