---
import CarritoCompras from "./svg/CarritoCompras.astro";
import Corazon from "./svg/Corazon.astro";
import Check from "./svg/Check.astro";
import Like from "./svg/Like.astro";
import Telefono from "./svg/Telefono.astro";
import Computadora from "./svg/Computadora.astro";
import Tablet from "./svg/Tablet.astro";
const { libro } = Astro.props;
---

<section
  class="max-w-6xl mx-auto mt-4 bg-white shadow p-6 rounded grid grid-cols-1 md:grid-cols-3 gap-6"
>
  <!-- Imagen del libro -->
  <div class="md:col-span-1 lg:col-span-1">
    <img
      src={libro.imagen}
      alt={libro.titulo}
      class="w-full h-96 object-cover rounded shadow-lg hover:shadow-xl transition duration-300 ease-in-out"
    />
  </div>

  <!-- Info principal del libro -->
  <div class="md:col-span-1 flex flex-col justify-between">
    <div>
      <h1 class="text-3xl font-bold">{libro.titulo}</h1>
      <p>Por <span class="text-blue-600">{libro.autor}</span></p>
      <p class="text-sm text-gray-500">{libro.anio_publicacion}</p>

      <div class="mt-4 space-y-2">
        <p><strong>Formato:</strong> {libro.formato}</p>
        <p><strong>Categoría:</strong> {libro.categoria}</p>
        <p><strong>Idioma:</strong> {libro.idioma}</p>
        <p class="flex gap-2 text-verde">
          <strong class="text-black">Disponible: </strong>Descarga inmediata
          <Check />
        </p>
      </div>
    </div>
    <!-- Sinopsis debajo -->
  </div>
  <div class="md:col-span-1 flex flex-col justify-between">
    <div
      class="text-center bg-gray-50 border border-gray-300 rounded p-6 shadow"
    >
      <p class="text-3xl font-bold text-anaranjado">
        S/. {libro.precio.toFixed(2)}
      </p>
      <p class="text-sm text-gray-500">(SOLES)</p>
      <button
        id="btn-comprar"
        class="mt-4 w-full gap-2 flex items-center justify-center botonVerde text-white font-semibold py-2 px-4"
      >
        <CarritoCompras />
        COMPRA AHORA
      </button>
      <div class="mt-2 flex flex-col gap-1 text-sm text-gray-600">
        <p class="flex botonBasico items-center justify-center gap-2">
          <Corazon />
          Hazlo tu favorito
        </p>
        <p class="flex items-center botonBasico justify-center gap-2">
          <Like />
          Recomiéndalo
        </p>
      </div>
    </div>
    <div class="mt-4 gap-2 flex flex-col items-center justify-center">
      <p>Puedes leer este eBook en:</p>
      <div class="flex gap-6 mt-2">
        <div class="flex flex-col items-center justify-center">
          <Computadora />
          <p class="text-sm mt-1">Pc/Mac</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <Telefono />
          <p class="text-sm mt-1">Phone</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <Tablet />
          <p class="text-sm mt-1">Tablet</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="max-w-6xl mx-auto md:col-span-2 bg-white shadow border border-gray-300 p-4 rounded"
  >
    <h2 class="text-xl font-semibold">Sinopsis</h2>
    <p class="mt-2 text-gray-700 leading-relaxed">{libro.sinopsis}</p>
  </div>
  <!-- Precio y acciones -->
</section>
