---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Categoria from "../components/secciones/Categoria.astro";
import MasVendidos from "../components/MasVendidos.astro";
import librosData from "../data/libros.json";
import seccionesData from "../data/idiomas/es.json";
import SliderPortada from "../components/secciones/SliderPortada.astro";
import type { Libro } from "../types/libro";
interface PaginaInicio {
  inicio: { secciones: string[]; footer: string[] };
}

function obtenerDatos(): {
  libros: Libro[];
  configuracion: PaginaInicio;
} {
  return { libros: librosData, configuracion: seccionesData };
}

const secciones = obtenerDatos();
---

<Layout titulo="home" descripcion="tienda de libros">
  <Header />
  <main
    class="flex flex-col px-4 min-h-screen mx-auto w-full max-w-6xl justify-center"
  >
    <SliderPortada />
    <Categoria
      libros={secciones.libros}
      tituloSeccion={secciones.configuracion.inicio.secciones[0]}
    />
    <div class="flex flex-col md:flex-row gap-4">
      <div class="flex flex-col w-full">
        <Categoria
          libros={secciones.libros}
          tituloSeccion={secciones.configuracion.inicio.secciones[1]}
        />
        <Categoria
          libros={secciones.libros}
          tituloSeccion={secciones.configuracion.inicio.secciones[2]}
        />
      </div>
      <MasVendidos />
    </div>
  </main>
  <Footer />
</Layout>
