---
import libros from "../data/libros.json";
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <h1 class="text-2xl font-bold mb-4">Libros disponibles</h1>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {libros.map((libro) => (
    <a
      href={`/libros/${libro.id}`}
      class="block p-4 bg-white shadow rounded hover:shadow-lg transition"
    >
      <img src={libro.imagen} alt={libro.titulo} class="w-full h-48 object-cover rounded" />
      <h2 class="mt-2 font-semibold">{libro.titulo}</h2>
      <p class="text-sm text-gray-600">{libro.descripcion}</p>
      <p class="mt-1 font-bold text-[var(--color-morado)]">S/. {libro.precio}</p>
  </a>
  
    ))}
  </div>
</Layout>
