---
import Boton from "./Boton.astro";
const { data } = Astro.props;
---

<article class="w-45 shadow-xl h-95 space-y-2 flex flex-col">
  <a href={`/libros/${data.id}`}>
    <figure>
      <img
        class="w-full h-60 object-cover"
        src={data.imagen}
        alt={`Portada del libro ${data.titulo}.`}
      />
      <figcaption class="sr-only">{`Portada de ${data.titulo}.`}</figcaption>
    </figure>
  </a>
  <header class="px-4">
    <h2 class="text-sm  h-10 overflow-hidden">{data.titulo}</h2>
    <p class="text-xs text-balance">Por <strong>{data.autor ? data.autor : "Anonimo"}</strong></p>
  </header>

  <footer class="px-4 mt-auto mb-4">
    <Boton data={data} />
  </footer>
</article>
